.product-image {
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
.detail-card {
    border: none;
}
.detail-card > p {
    font-size: 20px !important;
}
.detail-card > ul > li {
    font-size: 18px !important;
}
.btn{
    max-width: 50%;
    background-color: #16a085;
}