<section class="footer">
    <div class="box-containers">
      <div class="box">
        <h3>Liên kết nhanh</h3>
        <a href="../index.html">
          <i class="fas fa-chevron-right"></i> Trang chủ
        </a>
        <a href="../products.html">
          <i class="fas fa-chevron-right"></i> Sản phẩm
        </a>
        <a href="../contact.html">
          <i class="fas fa-chevron-right"></i> Liên hệ
        </a>
        <a href="../about.html">
          <i class="fas fa-chevron-right"></i> Chúng tôi
        </a>
      </div>
      <div class="box">
        <h3>Danh mục của chúng tôi</h3>
        <a href="#"> <i class="fas fa-chevron-right"></i> Quần áo thể thao </a>
        <a href="#"> <i class="fas fa-chevron-right"></i> Quần áo ngủ </a>
        <a href="#"> <i class="fas fa-chevron-right"></i> Quần </a>
        <a href="#"> <i class="fas fa-chevron-right"></i> Áo </a>
        <a href="#"> <i class="fas fa-chevron-right"></i> Phụ kiện </a>
      </div>
      <div class="box">
        <h3>Thông tin liên hệ</h3>
        <a href="#"> <i class="fas fa-phone"></i> 0353611084 </a>
        <a href="#"> <i class="fas fa-envelope"></i> nguyentachinh2003@gmail.com </a>
        <a href="#">
          <i class="fas fa-map-marker-alt"></i> HaNoi, VietNam
        </a>
      </div>
      <div class="box">
        <h3>Theo dõi chúng tôi</h3>
        <a href="#"> <i class="fa-brands fa-facebook"></i> Facebook </a>
        <a href="#"> <i class="fa-brands fa-twitter"></i> Twitter </a>
        <a href="#"> <i class="fa-brands fa-instagram"></i> Instagram </a>
        <a href="#"> <i class="fa-brands fa-linkedin"></i> LinkedIn </a>
        <a href="#"> <i class="fa-brands fa-pinterest"></i> Pinterest </a>
      </div>
    </div>
    <div class="credit">
      Được tạo ra với ❤️ bởi <span>Chinh</span> | © 2025 Demo, Mọi quyền
      được bảo lưu
    </div>
  </section>